<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
  <h2>Twitter(偽)</h2>
  <%= render 'form' %>
  <br>
  <% @tweets.each do |tweet| %>
     <p><%= tweet.content %></p>
     <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
     <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
  <% end %>
  </div>
</div>
